body {
    margin: 0;
}

#main-nav {
    background: black; 
    display: flex;
    justify-content: center;
    height: 50px;
    /* margin-top: -8px;
    margin-left: ;
    margin-right: x; */
    width: 100%;
}

.nav {
    font-size: 24px;
    text-decoration: none;
    font-family: "Bahnschrift Semibold";
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    font-weight: bolder;
}

.nav:hover {
    background-color: orange;
}

#click {
    background-color: orange;
}

img {
    background-size: cover;
    width: 100%;
    /* margin-left: -8px;
    margin-right: -8px; */
}

#Menuc {
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 145, 0);
    font-size: 50px;
    font-family: "Tw Cent MT";
    position: absolute;
    left: 45%;
    border-radius: 20px;
    padding: 18px;
    color: black;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .foods {
        flex-direction: column;
    }

}
.size1 {
    height: 300px;
    width: 100%;
}

.size2 {
    height: 300px;
    width: 450px;
}

.border {
    flex: 1;
    border: 2px solid black;
    background-color: orange;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}

.a1 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#pizza {
    color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ramen {
    color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#fries {
    color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tonkatsu {
    color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pizza:hover {
    background-color: gray;
    opacity: 80%;
}

#ramen:hover {
    background-color: gray;
    opacity: 80%;
}

#fries:hover {
    background-color: gray;
    opacity: 80%;
}

#tonkatsu:hover {
    background-color: gray;
    opacity: 80%;
}

.transition {
    background: linear-gradient(to bottom, white 0%, black 100%);
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-bottom: -2px;
    margin-top: 10px;
}
.footer {
    color: white;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: -9px;
    padding-bottom: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.form {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: orange;
    padding: 40px 10px;
}

input[type=text], input[type=number], input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* #b1 {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */

  #b1:hover {
    background-color: #45a049;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .ordercss {
    background-color: orange;
  }
  
.transition2 {
    background: linear-gradient(to bottom, orange 0%, black 100%);
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-bottom: -2px;
    margin-top: 186px;
}
.footer2 {
    color: white;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: -9px;
    padding-bottom: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.menufoods {
    margin-top: 5px;
    display: block;
}

#hays {
    background-color: orange;
}

.transition3 {
    background: linear-gradient(to bottom, orange 0%, black 100%);
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-bottom: -2px;
}
.footer3 {
    color: white;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: -9px;
    padding-bottom: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.menufoods div {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: beige;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menufoods div h1 {
    align-self: center;
    padding: 5px;
    margin: 80px;
    position: static;
    left: 30%;
    width: 19vw;
}

.menufoods div img {
    margin: 20px;
    border-radius: 30px;
}

.menufoods div p {
    align-self: center;
    margin: 50px;
    font-weight: bold;
    font-size: 34px;
    position: static;
    left: 50%;
    width: 23vw;
}

/* .menu3 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 495px;
}

.menu4 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 450px;
}

.menu5 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 450px;
}

.menu6 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 380px;
}

.menu7 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 450px;
}

.menu8 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 200px;
}

.menu9 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 450px;
}

.menu10 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 450px;
}

.menu11 {
    text-decoration: none;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
    border-radius: 30px;
    margin-left: 600px;
}

#menu3:hover {
    background-color: gray;
    opacity: 80%;
}

#menu4:hover {
    background-color: gray;
    opacity: 80%;
}

#menu5:hover {
    background-color: gray;
    opacity: 80%;
}

#menu6:hover {
    background-color: gray;
    opacity: 80%;
}

#menu7:hover {
    background-color: gray;
    opacity: 80%;
}

#menu8:hover {
    background-color: gray;
    opacity: 80%;
}

#menu9:hover {
    background-color: gray;
    opacity: 80%;
}

#menu10:hover {
    background-color: gray;
    opacity: 80%;
}

#menu11:hover {
    background-color: gray;
    opacity: 80%;
} */

#countdown {
    font-size: 24px;
}

input[type=cancel] {
    text-align: center;
    background-color: #fd4949;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy {
    transition: transform .2s; /* Animation */
}

.buy:hover {
    transform: scale(105%);
}

#hmm {
    text-align: center;
    background-color: beige;
    border-radius: 30px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 750px;
    margin: 0;
}

/* #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    background-color: white;
    z-index: 1;
}

  #popup-iframe {
    width: 100%;
    height: 100%;
} */

/* #flexit {
    display: flex;
} */

@media only screen and (max-width: 600px) {
    .foods {
        padding: 10px;
    }

    .border {
        flex: 1 1 100%; /* Make each item take full width on smaller screens */
        margin-bottom: 10px;
    }
}

