body {
    font-family: 'Roboto', sans-serif;
    background: #f7d1cc; /* Light red background color */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Hide horizontal scrollbar due to decorative patterns */
}

.background-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.05), transparent 30%), url('your-pattern-image.png'); /* Add your pattern image URL */
    pointer-events: none;
    z-index: -1;
    animation: backgroundAnimation 30s infinite linear;
}

@keyframes backgroundAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
}

.message-box {
    background-color: #e74c3c; /* Red background color for cancellation message */
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
    transition: transform 0.3s ease-in-out; /* Added transition property */
}

  .message-box:hover {
    transform: scale(1.05); /* Scale up on hover */
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.home-button {
    background-color: #dc3545; /* Updated red background color for home button */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    font-size: 1.2em;
}

.home-button:hover {
    background-color: #c82333; /* Darker red on hover */
}